body {
  margin:0px;
  background-image:url('../../images/strona_g__wna/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1457px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1457px;
  height:126px;
  background:inherit;
  background-color:rgba(128, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:1457px;
  height:126px;
  display:flex;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:51px;
  width:42px;
  height:50px;
  display:flex;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:51px;
  width:65px;
  height:50px;
  display:flex;
}
#u658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:60px;
  width:47px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:120px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:60px;
  width:78px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:32px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:60px;
  width:215px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1371px;
  height:1450px;
  background:inherit;
  background-color:rgba(128, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:195px;
  width:1371px;
  height:1450px;
  display:flex;
}
#u671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:223px;
  width:256px;
  height:34px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:588px;
  background:inherit;
  background-color:rgba(66, 0, 128, 0.874509803921569);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:318px;
  width:907px;
  height:588px;
  display:flex;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:344px;
  width:490px;
  height:65px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:231px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:639px;
  width:403px;
  height:231px;
  display:flex;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FFFFFF;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:465px;
  width:310px;
  height:265px;
  display:flex;
  font-size:21px;
  color:#FFFFFF;
}
#u676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:588px;
  background:inherit;
  background-color:rgba(66, 0, 128, 0.874509803921569);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:968px;
  width:907px;
  height:588px;
  display:flex;
}
#u677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:994px;
  width:470px;
  height:65px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:231px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:1289px;
  width:403px;
  height:231px;
  display:flex;
}
#u679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FFFFFF;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:1115px;
  width:310px;
  height:265px;
  display:flex;
  font-size:21px;
  color:#FFFFFF;
}
#u680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:58px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:811px;
  width:112px;
  height:43px;
  display:flex;
  font-size:17px;
}
#u681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:58px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1477px;
  width:112px;
  height:43px;
  display:flex;
  font-size:17px;
}
#u682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
