body {
  margin:0px;
  background-image:url('../../images/strona_g__wna/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1457px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1457px;
  height:126px;
  background:inherit;
  background-color:rgba(128, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:1457px;
  height:126px;
  display:flex;
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:45px;
  width:42px;
  height:50px;
  display:flex;
}
#u858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:60px;
  width:47px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:120px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1294px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:194px;
  width:980px;
  height:1294px;
  display:flex;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:60px;
  width:78px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:32px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:60px;
  width:215px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:172px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:217px;
  width:192px;
  height:172px;
  display:flex;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:58px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:376px;
  width:112px;
  height:43px;
  display:flex;
  font-size:17px;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:277px;
  width:103px;
  height:32px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:576px;
  width:103px;
  height:32px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:925px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:1227px;
  width:152px;
  height:25px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:206px;
  width:103px;
  height:32px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
  text-align:center;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:430px;
  width:130px;
  height:91px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
  text-align:center;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:172px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:247px;
  width:192px;
  height:172px;
  display:flex;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:163px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:674px;
  width:310px;
  height:163px;
  display:flex;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:163px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:674px;
  width:310px;
  height:163px;
  display:flex;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:1356px;
  width:59px;
  height:32px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#FFFFFF;
}
#u883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1001px;
  width:319px;
  height:36px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:79px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:971px;
  width:132px;
  height:79px;
  display:flex;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:58px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:272px;
  width:112px;
  height:43px;
  display:flex;
  font-size:17px;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:58px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:346px;
  width:112px;
  height:43px;
  display:flex;
  font-size:17px;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
