body {
  margin:0px;
  background-image:url('../../images/strona_g__wna/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1457px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1457px;
  height:126px;
  background:inherit;
  background-color:rgba(128, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:1457px;
  height:126px;
  display:flex;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:51px;
  width:42px;
  height:50px;
  display:flex;
}
#u836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:51px;
  width:65px;
  height:50px;
  display:flex;
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:60px;
  width:47px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:120px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:620px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:185px;
  width:980px;
  height:620px;
  display:flex;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:60px;
  width:78px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:32px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:60px;
  width:215px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u851_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:60px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:459px;
  width:309px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_img.disabled {
}
#u851.disabled {
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
  text-align:center;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:185px;
  width:479px;
  height:164px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
  text-align:center;
}
#u852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:413px;
  width:75px;
  height:35px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:66px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:574px;
  width:140px;
  height:51px;
  display:flex;
  font-size:17px;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:113px;
  background:inherit;
  background-color:rgba(149, 242, 4, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:646px;
  width:1088px;
  height:113px;
  display:flex;
  font-size:19px;
  color:#FFFFFF;
}
#u855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:682px;
  width:64px;
  height:41px;
  display:flex;
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
