body {
  margin:0px;
  background-image:url('../../images/strona_g__wna/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1457px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1457px;
  height:126px;
  background:inherit;
  background-color:rgba(128, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:1457px;
  height:126px;
  display:flex;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:51px;
  width:42px;
  height:50px;
  display:flex;
}
#u704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:51px;
  width:65px;
  height:50px;
  display:flex;
}
#u705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:62px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:60px;
  width:47px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:31px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:120px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1148px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.372549019607843);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:185px;
  width:980px;
  height:1148px;
  display:flex;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:60px;
  width:78px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u715 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:32px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:60px;
  width:215px;
  height:33px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#C280FF;
}
#u717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:33px;
  width:1px;
  height:90px;
  display:flex;
  -webkit-transform:rotate(0.191495876242003deg);
  -moz-transform:rotate(0.191495876242003deg);
  -ms-transform:rotate(0.191495876242003deg);
  transform:rotate(0.191495876242003deg);
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u719_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:60px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:459px;
  width:309px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_img.disabled {
}
#u719.disabled {
}
#u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
  text-align:center;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:185px;
  width:479px;
  height:164px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
  text-align:center;
}
#u720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:413px;
  width:75px;
  height:35px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u722_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:60px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:647px;
  width:309px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_img.disabled {
}
#u722.disabled {
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:603px;
  width:75px;
  height:35px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u724_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:60px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:838px;
  width:309px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u724_img.disabled {
}
#u724.disabled {
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:803px;
  width:106px;
  height:35px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u726_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:60px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1026px;
  width:309px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u726_img.disabled {
}
#u726.disabled {
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:978px;
  width:75px;
  height:35px;
  display:flex;
  font-family:'Impact Normalny', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:66px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:1141px;
  width:140px;
  height:51px;
  display:flex;
  font-size:17px;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:113px;
  background:inherit;
  background-color:rgba(149, 242, 4, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1213px;
  width:1088px;
  height:113px;
  display:flex;
  font-size:19px;
  color:#FFFFFF;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:1249px;
  width:64px;
  height:41px;
  display:flex;
}
#u730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
